@import "nullstyle.scss";
@import "scrollbar.scss";
@import "mixin.scss";

$containerWidth: 1440px; //пришлось откорректировать. Переменная старого формата не работала после сжатия scss

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: 'M PLUS 1p', sans-serif;

}

@media only screen and (max-width: 1300px) {
  html, body {
    font-size: 58%;
  }
}
@media only screen and (max-width: 1115px) {
  html, body {
    font-size: 46%;
  }
}

* {
  user-select: none;
}

.container {
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
}

.mainButton {
  cursor: pointer;
  width: 19.7rem;
  height: 4.5rem;  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.6rem;
  background: $pink;  
  margin-top: 4rem;
  font-weight: 500;
  font-size: 1.35rem;
  text-transform: uppercase;
  color: $white;

    &:hover {
       opacity: .8;
    }    
}

.header {
  width: 100%;
  background: url("/assets/img/headerBackground.png") no-repeat center center;
  background-size: cover;
  position: relative;
  color: $white;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 9rem;

  .menu {
    @include flex-between;
    padding: 6rem 12rem 3.6rem 13.7rem;
    align-items: center;

    .navigation {
      display: flex;
      gap: 5.4rem;

      .navigation-item {
        color: $white;
        opacity: .8;
        cursor: pointer;
        position: relative;
        line-height: 2.4rem;
        font-weight: 800;

        &:after {
          content: "";
          height: .1rem;
          background: $white;
          bottom: 0;

          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;

          width: 0;
          transition: all .3s ease;
        }

        &:hover, &.active {
          opacity: 1;

          &:after {
            width: 80%;
            transition: all .3s ease;
          }
        }
      }
    }

    .phone {
      display: flex;
      align-items: center;
      gap: 1.8rem;
      font-weight: 800;
      letter-spacing: .2rem;
    }

    .menuIcon {
      height: 1.6rem;
    }
  }

  .header-content {
    @include flex-between;
    padding: 8.3rem 12rem 1rem 13.7rem;
    flex-grow: 1;

    .text {
      margin-bottom: 7rem;

      & > p:first-child {
        letter-spacing: .4rem;
        text-transform: uppercase;
        margin-bottom: 1.8rem;
      }

      h1 {
        font-size: 10rem;
        font-weight: bolder;

        .red {
          color: $pink;
        }
      }
    }

    .vertical {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &:hover {
        opacity: .8;
      }

      span {
        margin-bottom: 2.4rem;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        letter-spacing: .6rem;
        font-weight: 800;
        font-size: 1.3rem;
        opacity: 1;
      }
    }
  }

  .header-button {
    display: flex;
    align-items: center;
    gap: 4.3rem;
    padding: 3rem 4rem;
    border: .1rem solid #FFFFFF40;
    width: 55vw;
    margin-left: -1rem;
    justify-content: end;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    h5 {
      opacity: 1;
      color: $white;
      font-size: 1.8rem;
    }

    @media only screen and (max-width: 1440px) {
      padding-left: 13.7rem !important;
    }
  }
}

.intro {
  @include flex-between;
  padding: 8rem 0 25rem 14.7rem;
  width: 100%;

    .container-text{
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      width: 46rem;
      margin-top: 7rem;
    }

    .intro-topTitle {
      color: $pink;
      font-weight: 800;
      font-size: 1.26rem;
      line-height: 2.6rem;
      letter-spacing: .6rem;
      text-transform: uppercase;
    }

    .intro-title {
      color: $primary_violet; 
      font-weight: 500;
      font-size: 4.5rem;
      line-height: 6.7rem;
      margin-top: 1.8rem;
    }

    .intro-subTitle {
      color: $primary_violet;
      font-weight: 800;
      font-size: 1.8rem;
      line-height: 2.9rem;  
      margin-top: 1.9rem;
    }

    .intro-mainText {
      color: $light_violet;
      font-size: 1.8rem;
      line-height: 2.9rem;
      margin-top: 4.2rem;
    }

    
  
    .container-photo { 
      position: relative;
      background: $violet;
      width: 44.1rem;
      height: 54rem;

      img {
        width: 46rem;
        height: 73.8;
        z-index: 1;
        object-fit: cover;
        position: absolute;
        top: 3.6rem;
        left: -26.5rem;
      }

      .violet { 
        z-index: 1;
        position: absolute;
        width: 37.7rem;
        height: 100%;
        background: $violet;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .top {
        font: 14.4rem Noticia Text; 
        color: $light_yellow;
        font-style: italic;
        font-weight: bold;
        opacity: 0.25;
        position: absolute;
        top: 9.6rem;
        right: 17.3rem;
      }

      i {
        font: 2.3rem Noticia Text;
        color: $white;
        line-height: 4rem;
        width: 22.8rem;
        font-style: italic;
      }

      .bot {
        font: 14.4rem Noticia Text; 
        color: $light_yellow;
        font-style: italic;
        font-weight: bold;
        opacity: 0.25;
        position: absolute;
        right: 17.3rem;
        top: 36rem;
      }
    }
} 

.features {
  width: 100%;
  height: 100.8rem;
  margin-top: -12rem;

  .features-container {
    @include flex-between;
    width: 100%;
    height: 100.8rem; 
  }

    .viol {
      position: absolute;
      display: flex;
      width: 99.9rem;       
      height: 100.8rem;
      background: url("/assets/img/features-back.png");
      background-size: cover;
      justify-content: space-between;
    }
      
      .features-text {
        width: 46rem;
        margin-top: 14.4rem; //потом редактировать
        margin-left: 14.7rem;
      }
        .features-topTitle{
          font-weight: 800;
          font-size: 1.26rem;
          line-height: 2.6rem;
          letter-spacing: .6rem;
          text-transform: uppercase;
          color: $pink;
        }

        .features-title {
          font-weight: 500;
          font-size: 4.5rem;
          line-height: 6.7rem;
          color:$white;
          margin-top: 1.1rem;
        }

        .features-subTitle {
          font-weight: 800;
          font-size: 1.8rem;
          line-height: 2.9rem;
          color: $white;
          margin-top: 1.7rem;
        }

        .features-mainText {
          font-weight: normal;
          font-size: 1.8rem;
          line-height: 2.9rem;
          color: $white;
          margin-top: 7.1rem;
        }
        
        .underPhoto {
          margin-top: 21rem;
          margin-left: 90.9rem;
          display: flex;
          align-items: center;

          span {
            font-weight: 800;
            font-size: 1.26rem;
            line-height: 2.6rem;
            color: $light_yellow; 
            letter-spacing: .6rem;
          }

          .leftButton {
            margin-left: 2.6rem;
          }

          .rightButton {
            margin-left: 1.8rem;
          }
          
          img {
            cursor: pointer;

            &:hover {
              opacity: .8;
            }
          }
          
        }

    .features-photo {
      width: 26rem;
      height: 61.2rem;
      margin-top: 19.8rem;
      display: flex;
    }
    
    .verticalText {
      display: flex;
      align-items: center;

      span {
        display: flex;
        justify-content: center;
        //margin-top: 42rem;
        margin-left: 129rem;
        color: #5E239D;
        writing-mode: vertical-lr;
        letter-spacing: .6rem;
        font-weight: 800;
        font-size: 1.26rem;
        text-transform: uppercase;
      }
    }
}

.services {
  width: 100%;
  margin-top: -19.8rem;
  z-index: -1;
  background: $dark_blue;
  height: 154.8rem;

  .services-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 32.4rem;
    align-items: center;

    .services-topTitle {
      color: $pink;
      font-weight: 800;
      font-size: 1.26rem;
      line-height: 2.6rem;
      letter-spacing: .6rem;
      text-transform: uppercase;
    }

    .services-title {
      font-weight: 500;
      font-size: 4.5rem;
      line-height: 6.7rem;
      color: $white;
      margin-top: 1.2rem;
    }

    .services-subTitle {
      height: 11.1rem;
      width: 55.8rem;
      color: $white;
      font-weight: 800;
      font-size: 1.8rem;
      line-height: 2.9rem;
      margin-top: 2.3rem;
    }
  }

  .services-widget {
    margin-top: 5.1rem;

      .mainText-widget {
        font-size: 1.62rem;
        line-height: 2.6rem;
        color: $white;
        margin-top: 2.7rem;
      }
  
      .title-blue, 
      .title-orange,
      .title-pink {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-top: 1.8rem;
      }

      .title-orange {
        color: $orange;
      }

      .title-blue {
        color: $blue;
      }

      .title-pink {
        color: $pink;
      }

    .topWidget {
      display: flex;


      .webdesign {
        width: 31.8rem;
        height: 22.4rem;
        margin-left: 14.7rem;
     
      }

      .webdev {
        width: 31.8rem;
        height: 25rem;
        margin-left: 7.5rem;
      }

      .marketing {
        width: 31.8rem;
        height: 25rem;
        margin-left: 7.5rem;
      }
    }

    .bottom-widget {
      display: flex;
      margin-top: 8.2rem;

      .marketing {
        width: 31.8rem;
        height: 25rem;
        margin-left: 14.7rem;

      }

      .webdesign {
        width: 31.8rem;
        height: 8rem;
        margin-left: 7.5rem;
      }

      .webdev {
        width: 31.8rem;
        height: 10.6rem;
        margin-left: 7.5rem;
      }
    }
  }

  .learnMore {
    margin-top: 7.2rem;
    margin-left: 59.8rem;
  }
}

.testimonials {
  width: 100%;
  margin-top: -13.8rem;
  z-index: -1;
  height: 90rem;

  .testimonials-photo {
   text-align: center;

    p {
      color: $pink;
      font: 19.4rem Noticia Text; 
      font-style: italic;
      font-weight: bold;
      margin-top: -7.4rem;
    }

    .mini-photo {
      position: relative;

      .photo1 {
        position: absolute;
        top: -24.4rem;
        left: 2.8rem;
      }
  
      .photo2 {
        position: absolute;
        top: -43rem;
        left: 17.5rem;
      }
  
      .photo3 {
        position: absolute;
        top: -29rem;
        left: 34.3rem;
      }

      .photo4 {
        position: absolute;
        top: -29rem;
        right: 35.7rem;
      }

      .photo5 {
        position: absolute;
        top: -39rem;
        right: 24.5rem;
      }

      .photo6 {
        position: absolute;
        top: -26rem;
        right: 4.4rem;
      }
      
      .photo7 {
        position: absolute;
        top: -50rem;
        right: 3.4rem;
      }
    }
  }

  .testimonials-text {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pink-leftButton {
      display: flex;
      position: absolute;
      left: 14.9rem;
      background: $white;

        &:hover {
           opacity: .8;
        }    
    }

    .testimonials-title {
      display: flex;
      color: $primary_violet;
      font: 4rem Noticia Text; 
      font-style: italic;
      line-height: 6.4rem;
      width: 75.4rem;
      margin-top: -5.2rem;
    }

    .pink-rightButton {
      display: flex;
      position: absolute;
      right: 14.7rem;
      background: $white;

      &:hover {
        opacity: .8;
     } 
    }

    span {
      color: $primary_violet;
      font-size: 1.8rem;
      line-height: 9rem;
    }
    
    .pink-text {
      color: $pink;
      font-weight:900;
    }
  }
}

.newsletter {
  width: 100%;
  height: 57.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .newsletter-text {
    text-align: center;
    margin-top: 12.6rem;
    font-weight: 500;

    h3 {
      color: $primary_violet;
      font-size: 4.5rem;
      line-height: 6.7rem;
    }

    .newsletter-subTitle {
      margin-top: 2.3rem;
      color: $light_violet;
      font-size: 1.8rem;
      line-height: 2.7rem;
    }
  }
  .newsletter-button {
    display: flex;
    height: 5.4rem;
    width: 56.8rem;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    margin-top: 7.5rem;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
    border-bottom: .3rem solid $light_yellow;
    
    .email {
      position: absolute;
      color: #9B94A3;
      left: 1.8rem;
      cursor: pointer;
      font-size: 1.8rem;

      &:hover {
        opacity: .8;
     } 
     
    }
    
    .subscribe {
      cursor: pointer;
      align-items: center;
      width: 22.6rem;
      height: 5.4rem;
      background: linear-gradient(180deg, rgba(242, 242, 242, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
      transform: matrix(1, 0, 0, -1, 0, 0);
      display: flex;
      justify-content: space-evenly;

      p {
        color: $pink;
        right: 8.2rem; 
        font-size: 1.26rem;
        font-weight: 800;
        line-height: 3rem;
        letter-spacing: .6rem;
        text-transform: uppercase;
        transform: matrix(1, 0, 0, -1, 0, 0);
      }
      &:hover {
        opacity: .8;
     } 
     
     img {
       width: 2.7rem;
     }
    }

  }
}

.footer {
  width: 100%;
  height: 55.8rem;
  background-color: $dark_blue;
  display: flex;
  color: $white;
  flex-flow: row nowrap;

  .footer-container {
    width: 112rem;
    margin: 12.6rem auto;
    @include flex-between;
  }

  .menu-item {
    font-weight: 800;
    font-size: 1.26rem;
    line-height: 2.6rem;
    letter-spacing: .6rem;
    text-transform: uppercase;
    border-bottom: .1rem solid $pink;
    position: absolute;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
    &:after {
      transition: all .3s ease;
    }
  }

  .list-menu {
    font-weight: bold;
    font-size: 1.26rem;
    line-height: 2.99rem;
    letter-spacing: .1rem;
    margin-top: 5.7rem;
    list-style-type: none; /* Убираем маркеры */
  }

  .footer-firstColumn {
    width: 16.6rem;

    .logo {
      font-weight: 900;
      font-size: 2.4rem;
      line-height: 4.3rem;
      letter-spacing: .2rem;
    }

    .main-text {
      margin-top: 1.7rem;
      font-size: 1.62rem;
      line-height: 2.6rem;
    }
  }

  .footer-secondColumn {
    @include flex-between;
    width: 15rem;

    .footer-bottom {
      font-size: 1.17rem;
      line-height: 1.9rem;
      margin-top: 30rem;
      position: absolute;
    }

  }

  .footer-thirdColumn {

    .mail {
      margin-left: 1.8rem;
      font-size: 1.62rem;  
      line-height: 2.6rem;
      font-weight: normal;
    }

    img {
      vertical-align: baseline;
    }

    .mobile {
      margin-left: 2.1rem;
      font-size: 1.62rem;  
      line-height: 2.6rem;
      font-weight: normal;
    }
  }

  .footer-fourthColumn {
 
    p {
      position: absolute;
      font-weight: 800;
      font-size: 1.26rem;
      line-height: 2.6rem;
      letter-spacing: .6rem;
      width: 13.2rem;
      text-transform: uppercase;
      border-bottom: .1rem solid $pink;
      cursor: pointer;
      &:hover {
        opacity: .8;
      }
    }

    .icons {
      display: flex;
      margin-top: 7.5rem;
      gap: 4.1rem;
    }

  }
}