@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

$violet: #30124E;
$primary_violet: #30233D;
$light_violet: #776C82;
$pink: #F61067; 
$white: #FCFCFC;
$blue: #00F0B5;
$orange: #F67110;
$dark_blue: #150433;
$light_yellow: #F4F4ED;